  
  

  <div class="footer"> 


<form class="form" action="/index" method="post"  >
  <textarea name="message"  placeholder="start typing here..."   autofocus></textarea>
  <button  class="button"id="submit" type="submit" ><i class="fas fa-paper-plane"></i></button> </br>
</form>
 

  </div>
  
  
  <script>

  document.addEventListener("DOMContentLoaded", function(event) {
   
    window.scrollTo(0,document.body.scrollHeight);
  });
 
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


</script>

</body>

</html>