<div class="topnav" id="myTopnav">
  <a href="/" class="active">DarBar</a>
 
  <a href="https://www.linkedin.com/in/mudasir-ahmad-pandith-a04b04202" > <i class=" fab fa-linkedin-in"></i>  Contact me</a>
  <a  href="https://mudasir-pandith.netlify.app/" > <i  class="fas fa-globe"></i>Devloper :Mudasir Pandith</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
